* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg.jpg);
  background-size: 100vw;
}

#calendar {
  background-color: black;
  border-radius: 20px;
}

#content {
  width: 55vw;
  height: 80vh;
  border: 2px black solid;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.day {
  outline: black 1px solid;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  height: 2rem;
  user-select: none;
  pointer-events: none;
}

.habit-one,
.habit-two,
.habit-three,
.day-of-the-month {
  height: 3rem;
}

.habit-one,
.habit-two,
.habit-three {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms ease-in-out;
}

.habit-one:hover {
  background-color: rgb(85, 185, 228);
  transition: 400ms ease-in-out;
}

.habit-two:hover {
  background-color: rgb(236, 46, 46);
  transition: 400ms ease-in-out;
}

.habit-three:hover {
  background-color: rgb(217, 169, 36);
  transition: 400ms ease-in-out;
}

.day-of-the-month {
  background-color: rgb(176, 34, 34);
  font-size: 1.3rem;
  color: white;
  font-family: "REM", sans-serif;
  user-select: none;
}

.day-of-the-month p {
  margin-top: 10px;
  margin-left: 20px;
}

.habit-one-activate {
  background-color: rgb(85, 185, 228);
  transition: 400ms ease-in-out;
}
.habit-two-activate {
  background-color: rgb(236, 46, 46);
  transition: 400ms ease-in-out;
}
.habit-three-activate {
  background-color: rgb(217, 169, 36);
  transition: 400ms ease-in-out;
}
